@import "../bower_components/normalize-scss/_normalize";

// variables

@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin label ($size) {
    display: block;
    font-size: $size;
    line-height: $size;
    font-weight: 600;
    text-align: center;
    @include uppercase;
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

// globals

body {
    background: #4b4b4b url('/images/cloud-background-2.jpg') 50% -108px repeat-x;
    background-size: 960px;
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
}

a {
    color: white;
}

button {
    border-width: 0;
    @include uppercase;
    color: #4b4b4b;
    background-color: white;
    font-weight: 600;
}

b {
    font-weight: 600;
}

.hidden {
    display: none;
}

// layout and colours

.browsehappy {
    margin: 0;
    padding: 20px;
    background: black;
    text-align: center;
}

#page-header {
    text-align: center;
    
    .tutorial {
        position: absolute;
        right: 50%;
        display: block;
        background-color: white;
        color: #4b4b4b;
        text-decoration: none;
        font-weight: 600;
    }
}

#page-footer {
    position: relative;
    clear: both;
    text-align: center;

    .game-in-progress,
    .game-over-no-moves,
    .game-over-complete {
        display: none;
    }
    
    ol {
        text-align: left;
        list-style: outside square;
    }
    
    .more {
        display: inline-block;
        vertical-align: bottom;
        overflow: hidden;
    }
}


.game-in-progress .game-in-progress,
.game-over-no-moves .game-over-no-moves,
.game-over-complete .game-over-complete {
    display: block !important;
}

.board {
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0);
    -webkit-transition: background-color 1s, box-shadow 1s;
    transition: background-color 1s, box-shadow 1s;

    .cell {
        float: left;
        list-style: none;
        background-color: rgba(black, 0.2);
        cursor: pointer;
    }
}

#board {
    .cell:nth-child(n+1):nth-child(-n+12):nth-child(odd),
    .cell:nth-child(n+13):nth-child(-n+24):nth-child(even),
    .cell:nth-child(n+25):nth-child(-n+36):nth-child(odd),
    .cell:nth-child(n+37):nth-child(-n+48):nth-child(even),
    .cell:nth-child(n+49):nth-child(-n+60):nth-child(odd),
    .cell:nth-child(n+61):nth-child(-n+72):nth-child(even),
    .cell:nth-child(n+73):nth-child(-n+84):nth-child(odd),
    .cell:nth-child(n+85):nth-child(-n+96):nth-child(even) {
        background-color: rgba(black, 0.4);
    }
    
    .cell:nth-child(-n+12),
    .cell:nth-child(n+85),
    .cell:nth-child(12n+1),
    .cell:nth-child(12n-12) {
        background-color: rgba(black, 0.6);
    }
}

.game-over-no-moves #board {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: black 0 0 24px 6px;
    
    .cell {
        cursor: default;
    }
}

.game-over-complete #board {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 24px 6px;
    
    .cell {
        cursor: default;
    }
}

#pouch,
#status {
    float: left;
}

#controls {
    float: right;
}

.next-tile .cell {
    background-color: rgba(black, 0.2);
}

.tile {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent url('/images/tiles.png') no-repeat;
    @include hide-text;
}

.tile-new {
    -webkit-animation: place 0.5s ease;
    animation: place 0.5s ease;
}

@-webkit-keyframes place {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes place {
    from {
        opacity: 0;
        transform: scale(1.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}   
    
@each $colour, $xpos in red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100% {
    @each $symbol, $ypos in circle 0%, triangle 20%, diamond 40%, star 60%, cross 80%, crescent 100% {
        .#{$colour}.#{$symbol} {
            background-position: $xpos $ypos;
        }
    }
}

.section {
    position: relative;
    float: left;
}

.label {
    position: relative;
    height: 0;
    margin: 0;
}

.number {
    display: block;
    text-align: center;
    font-weight: 600;
}

#last-score {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    font-weight: 800;
    -webkit-animation: rise 0.5s linear;
    animation: rise 0.5s linear;
}

@-webkit-keyframes rise {
    from {
        opacity: 1;
        -webkit-transform: translate(0, -0.5em);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0, -1.5em);
    }
}

@keyframes rise {
    from {
        opacity: 1;
        transform: translate(0, -0.5em);
    }
    to {
        opacity: 0;
        transform: translate(0, -1.5em);
    }
}

#undo,
#new-game {
    float: left;
    
    button {
        display: block;
        width: 100%;
    }
}

#tutorial {
    position: absolute;
    left: 50%;
    background-color: rgba(102, 102, 102, 0.9);
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 32px;
}

.tutorial-panel {
    display: none;
    position: relative;
    
    &:first-child {
        display: block;
    }
    
    h1 {
        text-align: center;
    }
    
    h2 {
        font-weight: 400;
        text-align: center;
    }
    
    .previous,
    .next {
        position: absolute;
        bottom: 0;
        font-weight: 800;
        text-decoration: none;
    
        span {
            position: absolute;
            width: 0;
            @include hide-text;
        }
        

        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            text-align: center;
        }
    }
    
    .previous {
        left: 0;
        
        &::after {
            content: '<';
        }
    }
    .next {
        right: 0;

        &::after {
            content: '>';
        }
    }
}

.tutorial-demo {
    overflow: hidden;
}

.tutorial-board {
    float: left;
    
    .cell {
        cursor: default;
    }
    
    .cell:nth-child(n+1):nth-child(-n+9):nth-child(odd),
    .cell:nth-child(n+10):nth-child(-n+18):nth-child(odd),
    .cell:nth-child(n+19):nth-child(-n+27):nth-child(odd),
    .cell:nth-child(n+28):nth-child(-n+36):nth-child(odd),
    .cell:nth-child(n+37):nth-child(-n+45):nth-child(odd),
    .cell:nth-child(n+46):nth-child(-n+54):nth-child(odd),
    .cell:nth-child(n+55):nth-child(-n+63):nth-child(odd),
    .cell:nth-child(n+64):nth-child(-n+72):nth-child(odd),
    .cell:nth-child(n+73):nth-child(-n+81):nth-child(odd) {
        background-color: rgba(black, 0.4);
    }
    
    .no,
    .yes {
        background: {
            image: url('/images/yes-no-cells.png');
            repeat: no-repeat;
        }
    }
}

#tutorial-close {
    text-decoration: none;
    
    span {
        position: absolute;
        width: 0;
        @include hide-text;
    }
    &::after {
        content: '×';
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        font-weight: 800;
        text-align: center;
    }
}


// dimensions

@mixin dimensions($measure) {    
    #container {
        width: $measure * 48;
        margin: ($measure * 2) auto;
    }
    
    button {
        padding: $measure;
        border-radius: $measure;
        font-size: $measure * 1.5;
        line-height: $measure * 2;
    }
    
    #page-header {
        padding-bottom: $measure * 2;
        
        h1 {
            font-size: $measure * 3;
            line-height: $measure * 3;
            margin: 0;
        }
        p {
            font-size: $measure * 1.5;
            line-height: $measure * 1.5;
            margin: 0;
        }
        .tutorial {
            margin-right: -$measure * 24;
            top: $measure * 3;
            line-height: $measure * 2.5;
            width: $measure * 2.5;
            font-size: $measure * 2.2;
            border-radius: $measure * 1.25;
        }
    }
    
    #page-footer {
        padding-top: ($measure * 2);
        
        p {
            font-size: $measure * 1.5;
            line-height: $measure * 2;
            margin: 0;
        }
        
        .credits {
            margin: ($measure * 2) 0;
            
            p {
                font-size: $measure * 1.1;
                line-height: $measure * 1.5;
            }
        }
        
        ol {
            font-size: $measure * 1.2;
            line-height: $measure * 1.5;
            margin: 0;
            padding: ($measure * 0.5) ($measure * 4) ($measure * 0.5) ($measure * 6);
        }
    }
    
    .cell {
        width: $measure * 4;
        height: $measure * 4;
    }
    
    .tile {
        background-size: $measure * 24.8;
    }
    
    #board {
        width: $measure * 48;
        height: $measure * 32;
        margin-bottom: $measure * 2;
    } 
    

    
    .section {
        margin-right: $measure * 2;
        height: $measure * 7;
    }

    .next-tile,
    #tiles-left,
    #four-ways {
        width: $measure * 4;
    }

    .label {
        top: $measure * 5;
        @include label($measure * 1.2);   
    }
    
    #time-left h1 {
        padding: 0 $measure;
    }
              
    .number {
        font-size: $measure * 3;
        line-height: $measure * 4;
    }  
    
    #last-score {
        font-size: $measure * 2;
        line-height: $measure * 2;
    }
    
    #undo {
        width: $measure * 8;
        
        #undos-left {
            margin-top: $measure;
            @include label($measure * 1.5);
        }
    }
    
    #new-game {
        width: $measure * 12;
        margin-left: $measure * 2;
    }
    
    #tutorial {
        width: $measure * 50;
        min-height: $measure * 34;
        top: $measure * 7.5;
        margin-left: -$measure * 25;
    }
    
    .tutorial-panel {
        padding: ($measure) ($measure * 4);
        
        > h1 {
            margin: $measure 0;
            @include label($measure * 1.2);
        }
        
        h2 {
            margin: $measure 0;
            font-size: $measure * 3;
            line-height: $measure * 3;
        }
        
        p,
        ol {
            margin: $measure 0;
            font-size: $measure * 1.5;
            line-height: $measure * 2;
        }
        
        .previous,
        .next {
            top: $measure * 4;
            width: $measure * 4;
            
            &::after {
                width: $measure * 4;
                margin-top: -$measure;
                font-size: $measure * 2;
                line-height: $measure * 2;
            }
        }
        
        .tutorial-board {
            width: $measure * 36;
            margin: 0;
        }
    }

    .tutorial-demo {
        margin: ($measure * 2) 0;
        
        .yes,
        .no {
            background-size: $measure * 4;
        }
        .yes {
            background-position: 0 0;
        }
        .no {
            background-position: 0 (-$measure * 4);
        }
    }
    
    #tutorial-close {
    
        &::after {
            width: $measure * 4;
            font-size: $measure * 2.5;
            line-height: $measure * 5.2;
        }
    }
}

@include dimensions(8px);

@media (min-width: 768px) {
    @include dimensions(10px);
}

@media (min-width: 992px) {
    @include dimensions(12px);
}

@media (min-width: 1160px) {
    @include dimensions(14px);
}