<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>#ido (ha-shi-do)</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body class="game-in-progress">
        <!--[if lt IE 9]>
            <p class="browsehappy">You're using an outdated browser, so this game won't work correctly - <br>sorry! To play, please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
        <![endif]-->
            
        <div id="container">
            
            <header id="page-header">
                <h1>#ido</h1>
                <p>(ha-shi-do)</p>
                <a href="#tutorial" class="tutorial" title="Take the tutorial">?</a>
            </header>
            
            <ol id="board" class="board"></ol>
            <div id="pouch"></div>
            <div id="status"></div>
            
            <div id="controls">
                
                <div id="new-game">
                    <button id="new-game-button">New game</button>
                </div>
                
            </div>
            
            <footer id="page-footer">
                <div class="game-in-progress">
                    <p>Can you place all 66 tiles on the board?</p>
                    <p>
                        <a class="tutorial" href="#tutorial">Take the tutorial</a> for rules and scoring.</a>
                    </p>
                    <p>
                        <b>Good luck!</b>
                    </p>
                </div>
                <div class="game-over-complete">
                    <p>
                        <b>Well played!</b> You've placed every tile on the board.<br>
                        Can you do it again and reach a higher score?
                    </p>
                </div>
                <div class="game-over-no-moves">
                    <p>
                        <b>Game over!</b> Sorry - there are no valid moves left.
                    </p>
                </div>
                <div class="credits">
                    <p><a href="https://bitbucket.org/jbedia/hashido">Code and graphics</a> by <a href="https://twitter.com/jbediauk">@jbediauk</a>. More projects at <a href="http://jbedia.co.uk/">jbedia.co.uk</a>.</p>
                    <p>#ido concept and rules based on <a href="http://www.mobygames.com/game/ishido-the-way-of-stones">Ishido: The Way of Stones</a>, designed by Michael Feinberg.</p>
                    <p>Background sky image based on <a href="http://commons.wikimedia.org/wiki/Sky#mediaviewer/File:Cumulus_humilis_clouds.jpg">a photograph</a> by <a href="http://commons.wikimedia.org/wiki/User:99of9">Toby Hudson (Wikimedia Commons)</a>; <br>used under a <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> license.</p>
                </div>
            </footer>  
        </div>
        
        <section id="tutorial" class="hidden" data-url="/tutorial.html"></section>
        
        <script id="board-template" type="text/x-dot-template">
            {{~it.tiles :tile:index}}
                <li class="cell {{?it.valid[index]}}valid{{??}}invalid{{?}}">
                    {{?tile}}
                        <span class="tile {{=tile.colour}} {{=tile.symbol}} {{?it.lastMove === index}}tile-new{{?}}">
                            {{=tile.colour}} {{=tile.symbol}}
                        </span>
                    {{?}}
                </li>
            {{~}}
        </script>
        
        <script id="pouch-template" type="text/x-dot-template">
            {{?it.tile}}
                <div id="next-tile" class="section next-tile">
                    <h1 class="label">Next tile</h1>
                    <div class="cell">
                        <span class="tile {{=it.tile.colour}} {{=it.tile.symbol}}">
                            {{=it.tile.colour}} {{=it.tile.symbol}}
                        </span>
                    </div>
                </div>
            {{?}}
            
            <div id="tiles-left" class="section">
                <h1 class="label">Tiles left</h1>
                <span id="tiles-left-number" class="number">
                    {{=it.tilesLeft}}
                </span>
            </div>           
        </script>
        
        <script id="status-template" type="text/x-dot-template">
            <div id="score" class="section">
                <h1 class="label">Score</h1>
                <span id="score-number" class="number">
                    {{=it.score}}
                </span>
                {{?it.lastScore > 0}}
                <span id="last-score">
                    +{{=it.lastScore}}
                </span>
                {{?}}
            </div>
            <div id="four-ways" class="section">
                <h1 class="label">Four-<wbr>ways</h1>
                <span id="four-ways-number" class="number">
                    {{=it.fourWays}}
                </span>
            </div>
        </script>       
        
        <script type="text/javascript">
          (function(d) {
            var config = {
              kitId: 'ohy4cqy',
              scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46764704-2', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/doT/doT.js"></script>
        <script src="bower_components/eventEmitter/EventEmitter.js"></script>
        <script src="bower_components/fastclick/lib/fastclick.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/board.js"></script>
        <script src="scripts/models/pouch.js"></script>
        <script src="scripts/models/status.js"></script>
        <script src="scripts/models/tile.js"></script>
        <script src="scripts/views/boardView.js"></script>
        <script src="scripts/views/pouchView.js"></script>
        <script src="scripts/views/statusView.js"></script>
        <script src="scripts/views/tutorialView.js"></script>
        <script src="scripts/game.js"></script>
        <script src="scripts/boot.js"></script>
        <!-- endbuild -->
</body>
</html>
