<article id="tutorial-panel-1" class="tutorial-panel">
    <h1>1/6</h1>
    <h2>Placement</h2>
    <p>Place tiles in spaces with one or more neighbouring tiles.</p>

    <div class="tutorial-demo">
        <div class="section next-tile tutorial-next-tile">
            <h1 class="label">Next tile</h1>
            <div class="cell">
                <span class="tile blue circle">
                    blue circle
                </span>
            </div>
        </div>
        
        <ol class="board tutorial-board">
            
            <!-- row 1 -->
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            
            <!-- row 2 -->
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell yes"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            
            <!-- row 3 -->
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell yes"></li>
            <li class="cell">
                <span class="tile blue circle">blue circle</span>
            </li>
            <li class="cell yes"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no "></li>
            
            <!-- row 4 -->
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell yes"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            
            <!-- row 5 -->
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
            <li class="cell no"></li>
        
        </ol>
    </div>
    <p>
        Each match increases your score,
        unless the tile is placed at the edge of the board.
    </p>
    <a href="#tutorial-panel-2" class="next">
        <span>Next</span>
    </a>
</article>

<article id="tutorial-panel-2" class="tutorial-panel">
    <h1>2/6</h1>
    <h2>One-ways</h2>
    <p>
        To place a tile in a space with one neighbouring tile,
        they must match by colour and/or shape - a <b>1+0</b> match.
    </p>

    <div class="tutorial-demo">
        <div class="section next-tile tutorial-next-tile">
            <h1 class="label">Next tile</h1>
            <div class="cell">
                <span class="tile blue circle">
                    blue circle
                </span>
            </div>
        </div>
        <ol class="board tutorial-board">
            
            <!-- row 1 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 2 -->
            <li class="cell"></li>
            <li class="cell">
                <span class="tile orange circle"></span>
            </li>
            <li class="cell"></li>
            <li class="cell">
                <span class="tile blue triangle"></span>
            </li>
            <li class="cell"></li>
            <li class="cell">
                <span class="tile blue circle"></span>
            </li>
            <li class="cell"></li>
            <li class="cell">
                <span class="tile orange triangle"></span>
            </li>
            <li class="cell"></li>
            
            <!-- row 3 -->
            <li class="cell"></li>
            <li class="cell yes"></li>
            <li class="cell"></li>
            <li class="cell yes"></li>
            <li class="cell"></li>
            <li class="cell yes"></li>
            <li class="cell"></li>
            <li class="cell no"></li>
            <li class="cell"></li>
            
            <!-- row 4 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
        
        </ol>
    </div>

    <p>One-way matches increase your score by <b>1</b>.</p>
    <a href="#tutorial-panel-1" class="previous">
        <span>Previous</span>
    </a>
    <a href="#tutorial-panel-3" class="next">
        <span>Next</span>
    </a>
</article>

<article id="tutorial-panel-3" class="tutorial-panel">
    <h1>3/6</h1>
    <h2>Two-ways</h2>
    <p>
        To place a tile in a space with two neighbouring tiles,
        at least one must match by colour and the other by shape -
        a <b>1+1</b> match.
    </p>

    <div class="tutorial-demo">
        <div class="section next-tile tutorial-next-tile">
            <h1 class="label">Next tile</h1>
            <div class="cell">
                <span class="tile blue circle">
                    blue circle
                </span>
            </div>
        </div>    
        <ol class="board tutorial-board">
        
            <!-- row 1 -->
                <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 2 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 3 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell yes"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue star">blue star</span></li>
            <li class="cell no"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 4 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 5 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue circle">blue circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 6 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile violet circle">violet circle</span></li>
            <li class="cell no"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange triangle">orange triangle</span></li>
            <li class="cell no"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 7 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
        
        </ol>
    </div>
    
    <p>Two-way matches increase your score by <b>2</b>.</p>
    <a href="#tutorial-panel-2" class="previous">
        <span>Previous</span>
    </a>
    <a href="#tutorial-panel-4" class="next">
        <span>Next</span>
    </a>
</article>

<article id="tutorial-panel-4" class="tutorial-panel">
    <h1>4/6</h1>
    <h2>Three-ways</h2>
    <p>
        To place a tile in a space with three neighbouring tiles,
        at least two must match by colour and the other by shape,
        or two by shape and the other by colour - a <b>2+1</b> match.
    </p>

    <div class="tutorial-demo">
        <div class="section next-tile tutorial-next-tile">
            <h1 class="label">Next tile</h1>
            <div class="cell">
                <span class="tile blue circle">
                    blue circle
                </span>
            </div>
        </div>    
        <ol class="board tutorial-board">
        
            <!-- row 1 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 2 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 3 -->
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell yes"></li>
            <li class="cell"><span class="tile yellow circle">yellow circle</span></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell yes"></li>
            <li class="cell"><span class="tile blue star">blue star</span></li>
            <li class="cell"></li>
            
            <!-- row 4 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 5 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue circle">blue circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 6 -->
            <li class="cell"></li>
            <li class="cell"><span class="tile violet circle">violet circle</span></li>
            <li class="cell no"></li>
            <li class="cell"><span class="tile yellow circle">yellow circle</span></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange triangle">orange triangle</span></li>
            <li class="cell no"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            
            <!-- row 7 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
        
        </ol>
    </div>
    
    <p>Three-way matches increase your score by <b>4</b>.</p>
    <a href="#tutorial-panel-3" class="previous">
        <span>Previous</span>
    </a>
    <a href="#tutorial-panel-5" class="next">
        <span>Next</span>
    </a>
</article>

<article id="tutorial-panel-5" class="tutorial-panel">
    <h1>5/6</h1>
    <h2>Four-ways</h2>
    <p>
        To place a tile in a space with four neighbouring tiles,
        at least two must match by colour and two by shape - a <b>2+2</b> match.
    </p>
    
    <div class="tutorial-demo">
        <div class="section next-tile tutorial-next-tile">
            <h1 class="label">Next tile</h1>
            <div class="cell">
                <span class="tile blue circle">
                    blue circle
                </span>
            </div>
        </div>
        
        <ol class="board tutorial-board">
            
            <!-- row 1 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 2 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 3 -->
            <li class="cell"></li>
            <li class="cell"><span class="tile blue star">blue star</span></li>
            <li class="cell yes"></li>
            <li class="cell"><span class="tile yellow circle">yellow circle</span></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue star">blue star</span></li>
            <li class="cell yes"></li>
            <li class="cell"><span class="tile blue circle">blue circle</span></li>
            <li class="cell"></li>
            
            <!-- row 4 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 5 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 6 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile blue triangle">blue triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile violet triangle">violet triangle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 7 -->
            <li class="cell"></li>
            <li class="cell"><span class="tile blue star">blue star</span></li>
            <li class="cell no"></li>
            <li class="cell"><span class="tile blue diamond">blue diamond</span></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile yellow circle">yellow circle</span></li>
            <li class="cell no"></li>
            <li class="cell"><span class="tile blue circle">blue circle</span></li>
            <li class="cell"></li>
            
            <!-- row 8 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"><span class="tile orange circle">orange circle</span></li>
            <li class="cell"></li>
            <li class="cell"></li>
            
            <!-- row 9 -->
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
            <li class="cell"></li>
        
        </ol>
    </div>
    
    <p>
        Four-way matches increase your score by <b>8</b>,
        and deliver some additional benefits&hellip;
    </p>
    <a href="#tutorial-panel-4" class="previous">
        <span>Previous</span>
    </a>
    <a href="#tutorial-panel-6" class="next">
        <span>Next</span>
    </a>
</article>

<article id="tutorial-panel-6" class="tutorial-panel">
    <h1>6/6</h1>
    <h2>Bonuses</h2>
    <p>
        Each four-way match also adds a special bonus (which increases with each four-way you make) and doubles all scores from that point on. Take this series of moves:
    </p>
    <ol>
        <li>One-way match: scores <b>1</b></li>
        <li>Four-way match: scores <b>8</b>, plus <b>bonus of 25</b></li>
        <li>One-way match: scores <b>2</b> (1 &times; 2)</li>
        <li>Four-way match: scores <b>16</b> (8 &times; 2), plus <b>bonus of 50</b></li>
        <li>One-way match: scores <b>4</b> (2 &times; 2)</li>
    </ol>
    <p>
        So, to reach a high score, four-ways are the key.
    </p>
    <p>Happy playing!</p>
    <p> 
        <a href="#" class="close">Return to the game</a>
    </p>
    <a href="#tutorial-panel-5" class="previous">
        <span>Previous</span>
    </a>
</article>

<a id="tutorial-close" class="close" href="#">
    <span>Close</span>
</a>